# Postgres client
psycopg2-binary==2.9.3
# Curl client
requests==2.26.0
# Timezone library
pytz==2021.3
# MSSQL client
python-tds==1.11.0
# UI library
selenium==4.1.0
# SSO client
python-keycloak-client==0.2.3
# SFTP client
pysftp==0.2.9
