# Curl client
requests~=2.25
# Timezone library
pytz~=2021.1
# MSSQL client
python-tds~=1.10
# Postgres client
psycopg2-binary~=2.8
# UI library
selenium~=3.141
# SSO client
python-keycloak-client~=0.2
